<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    first ejs abc
    <img src="/images/408626492_284183201287389_951498981200839667_n.jpg" alt="something">
</body>
</html>